.timeline{
    border: 2px dashed white;
}

.time-card {
    transition: 0.2s ease-in-out all;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-card:hover{
    transition: 0.2s ease-in-out all;
    transform: scale(1.134);
    background-color: rgba(240, 248, 255, 0.33);
    border-bottom: 3px red dashed;
}
.time-card .bi-arrow-down {
    transition: 0.2s ease-in-out all;
}

.time-card:hover .bi-arrow-down {
    transition: 0.2s ease-in-out all;
    color: red;
    margin-top: 25px;
}

.time-container {
    background-color: #161a1d8a;
    border: 2px white solid;
    color: white;
}

.time-container>div {
    padding-inline: 16px;
}

.first-line {
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.date-picker-input {
    background-color: #161A1D!important;
    color: white;
    padding: 10px;
}

::-webkit-calendar-picker-indicator { 
    background-color: #A4161A;
    padding: 8px;
    border-radius: 5px;
    margin-left: 5px;
}

::-webkit-calendar-picker-indicator:hover { 
    background-color: #1ac7c4;
    filter: invert();
}