.user-profile-container {
    color: white;
    display: flex;
    justify-content: space-between;
}

.user-profile-container .nav-link {
    color: white;
}

.user-info-container {
    padding: 20px;
    padding-top: 50px;
    width: calc(20% + 40px);
    box-shadow: 5px 5px 5px #b1a7a624;

    word-wrap: break-word;
}

.edit-btn {
    margin-left: 5px;
}
.edit-btn:hover {
    border-bottom: 1px solid #BA181B;
    color: #BA181B;
}

.cancel {
    background-color: #B1A7A6;
    padding: 10px 15px;
    margin: 5px;
    border: 3px solid;
}

.cancel:hover {
    border-color: white;
}

.update-user-form {
    padding: 15px;
}

.update-user-form input::placeholder {
    color: white;
}

.user-info-container .user-pfp {
    width: 100%;
    margin-bottom: 25px;
}

.nav-tabs svg {
    width: 25px;
    height: 25px;
}

@media (max-width:600px) {
    .user-profile-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .user-info-container {
        width: 100%!important;
        box-shadow: none;
    }
    .user-info-container img {
        width: 30%!important;
        float: left;
        margin-right: 10px;
    }
}

@media (max-width:410px) {
    .profile-links{
        width: 100%;
    }
    .profile-links .nav-item{
        width: 100%;
    }
    .profile-user-events-header {
        flex-direction: column;
    }
    .user-profile-event-list-item {
        flex-direction: column;
    }
    .user-profile-filters-container {
        width: 90%!important;
        padding-top: 20px;
    } 

}

.profile-user-events-header {
    display: flex;
    justify-content: space-between;
}

.user-profile-event-list-item h2 {
    word-wrap: break-word;
}

.user-profile-filters-container {
    height: 5%;
    width: 30%;
}