.ribbon {
    transform-origin: bottom center;
    width: 800px;
    height: 120%;
    position: absolute;
    z-index: -1;
    bottom: -125px;
}

.ribbon-left {
    left: calc(50% - 450px);
    background-color: #BA181B
}

.ribbon-right {
    right: calc(50% - 450px);
    background-color: #A4161A
}

.ribbon-stretch-left {
    animation-name: stretch-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.ribbon-curl-left {
    animation-name: stretch-left;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes stretch-left {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(100%) skew(.312rad);
    }
}

.ribbon-stretch-right {
    animation-name: stretch-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.ribbon-curl-right {
    animation-name: stretch-right;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes stretch-right {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(100%) skew(-.312rad);
    }
}

.login-body {
    overflow: hidden;
    position: relative;
    height: 55em;
    background-image: url('https://thumbs.dreamstime.com/z/calendar-27139310.jpg?ct=jpeg');
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-body input::placeholder {
    color: white;
}

.login-body .link:hover {
    text-decoration: 2px underline solid white;
}

.login-form {
    color: white;
    width: 20em;
    transform: translateX(-80%) translateY(50%);
    animation: 1s appear;
}

.register-form {
    color: white;
    width: 20em;
    transform: translateX(80%) translateY(20%);
    animation: 1s appear;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@media (max-width:842px) {
    .login-form {
        width: 40%;
        transform: translateX(-30%) translateY(50%);
        animation: 1s appear;
    }

    .register-form {
        width: 40%;
        transform: translateX(30%) translateY(20%);
        animation: 1s appear;
    }
}

.enter {
    background-color: #161A1D;
    color: #B1A7A6;
    border: 2px transparent solid;
    padding: 10px 15px;
}

.enter:hover {
    background-color: #0B090A;
    color: white;
    border: 2px white solid;
}

.form-control:focus {
    box-shadow: none;
    border: none;
    background-color: #161A1D;
    color: white;
}

.enter-error {
    background-color: #E5383B;
    border-radius: 0 0 15px 0;
    padding-left: 5px;
}

.btn-outline-dark {
    border: 2px white solid;
}

.form-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.form-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
}

.input-cont {
    width: 100%;
}