.loader-container{
    position: absolute;
    top:45%;
    left:45%;
}

.invite-event-body .accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.invite-event-body .accordion-button {
    background-color: #BA181B;
}

.invite-event-body .accordion-button:not(.collapsed) {
    background-color: #BA181B;
    color: white;
}

.invite-event-body .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.btn-exit {
    position: absolute;
    left: 10px;
    top: 10px;
}

.invite-event-body {
    color: white;
    padding-top: 20px;
}

.invite-event-item {
    background-color: #D3D3D3;
}

