.home-container {
    color: white;
    padding: 20px;
    padding-inline: 50px;
}

.pel-container {
    background-color: #161A1D;
    margin-block: 5px;
}

.pel-container:hover {
    background-color: #363d42;
}

.pel-container:hover .pel-desc-container {
   background: linear-gradient(#161a1da4 10%, 40%, #363d4232 100%)
}

.pel-creator-container {
    color: white;
    height: 70px;
    padding: 5px;
    width: 100%;
}

.pel-creator-container .bi-person-fill{
    margin: 0;
    width: 30px!important;
}

.pel-creator-container img {
    margin-right: 20px;
}

.pel-content-container {
    color: white;
    padding-inline: 20px;
    text-transform: capitalize;
    display: flex;
}

.pel-content-container h1 {
    margin-bottom: 0px;
}

.pel-desc-container {
    margin-left: 20px;
    background: radial-gradient(#111416 100%, #111416 30%, rgba(11, 9, 10, 0) 0%);
    width: 100%;
    padding: 20px;
    font-size: larger;
}

.pel-info-container {
    width: 30%;
}

.pel-link svg {
    width: 45px!important;
    height: 45px!important;
}

@media (max-width: 600px) {
    .home-container-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home-container-header form {
        width: 100%!important;
        margin-top: 20px;
        transform: translateX(-20px);
    }
    .pel-desc-container {
        display: none;
    }
    .pel-info-container {
        width: 100%;
    }
    .pel-component-additional-info {
        display: none;
    }
}

@media (max-width: 360px) {
    .pel-item-creator-user-name {
        display: none;
    }
}