.event-box{
    background-color: #161A1D;
    color: #F5F3F4;
}

.event-box .edit-btn {
    color: white;
}

.main-grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.main-time{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    font-size: 1.3rem;
}
.main-creator{
    margin: 10px 20px;
    font-size: 1.6rem;

}
.divider{
    width: 100%;
    border: none;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}
.divider-mini{
    width: 30%;
    border: none;
    height: 2px;
    background-color: #262626;
    border-radius: 2px;
}

.event-name{
    text-align: center;
    padding: 8px;
    padding-left: 25px;
    border-radius: 25px;
    border: 4px solid #B1A7A6;
    width: 100%;
}

.event-type{
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: normal;
}
.event-desc{
    font-size: 1.1rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.event-desc h1{
    font-size: 1.4rem;
    margin-bottom: 10px;
    background-color: #A4161A;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.event-desc p {
    padding-inline: 15px;
}

.private{
    text-align: left;
    margin: 0 20px;
}
.participants-limit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heading {
    background-color: #A4161A;
    margin: -15px;
    margin-bottom: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.heading .edit-btn {
    margin-left: 30px;
    border: 1px solid white;
}

.heading .edit-btn:hover {
    margin-left: 30px;
    background-color: white;
}

.heading .badge {
    background-color: #660708;
    color: white;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative
}

.timer-container *:not(.bi-clock) {
    z-index: 1;
}

.timer-container .bi-clock {
    color: #A4161A;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: rotate(30deg);
    opacity: 50%;
}